@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

